__pycache__/
.ipynb_checkpoints/
Testing/
.DS_Store
Figures/
test_results/
test_results_GPU/
Prepublication/
Exo/
Notebooks_Repro/InPreparation/
FileHFM_binary_dir.txt
FileVDQ_binary_dir.txt
dist/
*.slides.html
*_Format.txt
*_Data.dat
profile_stats
.eggs/
debug.log
*.m~
Notebook_copies_with_images/
Notebooks_FMM/Images/Seismic/
Notebooks_FMM/Images/DubinsZermelo/
Notebooks_Div/Images
